.a{
    margin:5px 5px 5px 20px;
    border: 1%;
    border-style: dashed;
    border-color: black;
    width: 20%;
    background-color: rgb(207, 203, 196);
    height: 150px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
}
.b{
    margin: 5px 10px 1px 22px;
    border: 1%;
    border-color: black;
    border-style: solid;
    width: 80%;
    background-color: red;
    height: 100px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
}
.c{
    margin: 5px 20px 10px 30px;
    border: 1%;
    border-color: black;
    border-style: dashed;
    width: 70%;
    background-color: chartreuse;
    height: 50px;
    padding: 2px;
    box-sizing: border-box;
}
.d{
    margin: -2px 30px 30px 30px;
    border: 1%;
    border-color: black;
    border-style: solid;
    width: 50%;
    background-color: whitesmoke;
    height: 20px;
    box-sizing: border-box;
    
}
@media (max-width: 600px) {
    .a {
        width: auto;
        height: auto;
        margin: none;
    }
    .b {
        width: auto;
        height: auto;
        margin-left: 10px;
    }
    .c {
        width:auto;
        height: auto;
        margin-left: 10px;
    }
    .d {
        width: auto;
        height: auto;
        margin-left: 10px;
    }
}
@media (max-width: 1024px) {
    .a {
        width: 70%;
        height: auto;
        margin: 10px;
    }
    .b {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    .c {
        width: 75%;
        height: auto;
        margin: 10px;
    }
    .d {
        width: 70%;
        height: auto;
        margin: 10px;
    }
}