.a{
    margin:5px 5px 5px 20px;
    border: 1%;
    border-style: dashed;
    border-color: black;
    width: 40%;
    background-color: rgb(207, 203, 196);
    height: 300px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.b{
    margin: 15px 10px 1px 35px;
    border: 1%;
    border-color: black;
    border-style: solid;
    width: 90%;
    background-color: red;
    height: 200px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.c{
    margin: 10px 20px 70px 40px;
    border: 1%;
    border-color: black;
    border-style: dashed;
    width: 80%;
    background-color: chartreuse;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
}
.d{
    margin: 10px 30px 30px 50px;
    border: 1%;
    border-color: black;
    border-style: solid;
    width: 70%;
    background-color: whitesmoke;
    height: 40px;
    box-sizing: border-box;
    
}
@media (max-width: 600px) {
    .a {
        width: 100%;
        height: auto;
        margin: 5px;
    }
    .b {
        width: 105%;
        height: auto;
        margin: 5px;
    }
    .c {
        width: 100%;
        height: auto;
        margin: 5px;
    }
    .d {
        width: 95%;
        height: auto;
        margin: 5px;
    }
}
@media (max-width: 1024px) {
    .a {
        width: 70%;
        height: auto;
        margin: 10px;
    }
    .b {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    .c {
        width: 75%;
        height: auto;
        margin: 10px;
    }
    .d {
        width: 70%;
        height: auto;
        margin: 10px;
    }
}