body{
    background-color: antiquewhite;
}
*{
    padding: 0;
    margin: 0;
text-decoration: none;
box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}
#foot{
    color: black;
    text-decoration: none;
}
#boxa{
    text-decoration: none;
    color: black;
}
.design{
    text-align: center;
    margin-top: 70px;
}
#int{
    color: #ca1f08;
    font-weight: 900;
    margin-right: 50px;
    text-underline-offset: 25px;
  text-decoration: underline 3px;
}
#pro{
    color: #ca1f08;
    font-weight: 900;
    text-underline-offset: 25px;
    text-decoration: underline 3px;
}
#pro:hover{
    color: black;
}
#int:hover{
    color: black;
}
.frame{
width: 100%;
height: 500px;
overflow: hidden;
position: relative;
margin-top: 40px;
}
.frame iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.head1{
    justify-self: center;color: #ca1f08;font-size: 18px;font-family: 'Times New Roman', Times, serif;font-weight: 50;word-spacing: 5px;text-transform: uppercase;text-decoration: underline;text-underline-offset: 10px;
}
.projectcon1{
    text-align: center;
    font-size: 65px;
    width: 50%;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top:10px ;
    padding: 5px 0;
}
.con2{
    text-align: center;
    font-size: 24px;
    width: 54%;
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top:10px ;
    padding: 5px 0; 
}

/*footer*/
.foot1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
   }
ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-top: 75px;
    font-size: 1.2rem;
    font-display: uppercase;
}
#fbox1{
transition: 1s;
}
#fbox1:hover{
    transform: scale(1.2);
    color: firebrick;
}
#fbox2{
    transition: 1s;
    }
    #fbox2:hover{
        transform: scale(1.2);
        color: firebrick;
    }
    #fbox3{
        transition: 1s;
        }
        #fbox3:hover{
            transform: scale(1.2);
            color: firebrick;
        }
        #fbox4{
            transition: 1s;
            }
            #fbox4:hover{
                transform: scale(1.2);
                color: firebrick;
            }
            #fbox5{
                transition: 1s;
                }
                #fbox5:hover{
                    transform: scale(1.2);
                    color: firebrick;
                }
                #fbox6{
                    transition: 1s;
                    }
                    #fbox6:hover{
                        transform: scale(1.2);
                        color: firebrick;
                    }
.footer2{
   display: flex;
   justify-content: space-between;
    padding: 20px;
    font-size: 1.2rem;
    color: black;
}
.footer3{
    display: flex;
    justify-content: space-between;
padding: 10px;
margin-top: 20px;
}
#fotimg{
width: 10%;
height: 10vh;
margin-left: 50px;
}