 .head{
    font-family: 'Times New Roman', Times, serif;
  

    height: 30px;
    font-size: 20px;
    width: 100%;
    background-color: cornsilk;
    height: 40px;
    background: transparent;
    
 }
 #a:hover{
background-color: grey;
 }
 #b:hover{
    background-color: grey;
     }
     #c:hover{
        background-color: grey;}
         .content{
            background-color: tan;
         }
         .w{
            position: relative;
         }
    
         .second{
            position: absolute;
            top: 5%;
            left:5% ;
         }
         .third{
            position: absolute;
            top: 5%;
            right:6.5% ;
         }
         .fourth{
            position: absolute;
            bottom:39% ;
            right: 6.5%; 
         }
         .fifth{
            position: absolute;
            bottom: 39%;
            left:5%;
         }
         .six{
            position: absolute;
           bottom:39%;
            left:40% ;
         }
         .seven{
            position: absolute;
        top:5% ;
            left: 40%;
         }
         .second,.third,.fourth,.fifth,.six,.seven{
            width: 20%;
            height: 7%;
            font-weight: bold;
            font-size: 20px;
            border-radius: 20%;
           text-align: center;
           color: white;}
           .least{
            position: relative;
           }
           .h2{
position: absolute;
bottom: -5%;
left: 0%;
           }
    
       